<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Révision - Terminale G</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/icon.ico" type="image/x-icon">
</head>
<body>
    <div class="burger_menu" id="burger_menu">
        <button class="burger_menu_close" onclick="document.getElementById('burger_menu').classList.toggle('show')">
            <span class="cross_line"></span>
            <span class="cross_line"></span>
        </button>
        <h2 class="burger_menu_title">✦TermG✦</h2>
        <nav class="burger_menu_links">
            <a href="/" class="burger_menu__link">Acceuil</a>
            <a href="/cours/" class="burger_menu__link">Cours</a>
            <a href="/revision/" class="burger_menu__link">Révision</a>
            <a href="/static/feuille_de_semaine.pdf" target="_blank" class="burger_menu__link">Feuille de semaine</a>
        </nav>
    </div>
    <header class="header">
        <nav class="header_links">
            <a href="/" class="header__link">Acceuil</a>
            <a href="/cours/" class="header__link">Cours</a>
        </nav>
        <h1 class="header_title">✦TermG✦</h1>
        <nav class="header_links">
            <a href="/revision/" class="header__link">Révision</a>
            <a href="/static/feuille_de_semaine.pdf" target="_blank" class="header__link">Feuille de semaine</a>
        </nav>
        <button class="burger" onclick="document.getElementById('burger_menu').classList.toggle('show')">
            <span class="burger_line"></span>
            <span class="burger_line"></span>
            <span class="burger_line"></span>
        </button>
    </header>

    <div id="image-modal" class="modal">
        <span class="modal-close">&times;</span>
        <img class="modal-content" id="modal-img">
        <a class="modal-link" id="modal-link" href="/" target="_blank">ouvrir dans un nouvel onglet ↗</a>
    </div>

    <section class="revision-section">
        <div class="fiche-content">
            <h2 class="revision-title"><strong>Titre :</strong> {{ fiche.title }}</h2>
            <div class="fiche-details">
                <p class="fiche-auteur"><strong>Auteur :</strong> {{ fiche.auteur }}</p>
                <p class="fiche-matiere"><strong>Matière :</strong> {{ matiere }}</p>
            </div>
            <div class="list-imgs">
                {% for image in images %}
                    <button class="button-img">
                        <img src="{{ url_for('static', filename='uploads/' ~ image['filename']) }}" alt="Image associée à la fiche">
                    </button>
                {% endfor %}
            </div>
            <a class="fiche-link_back" href="{{ url_for('revision') }}">🔙 Retour aux fiches de révision</a>
        </div>
    </section>

    <footer class="footer">

        <div class="footer-container">
            <!-- Footer Top -->
            <div class="footer-top">
                <h2 class="footer-title">✦TermG✦</h2>
                <p class="footer-desc">Un projet fait avec passion pour rendre l’information accessible à tous.</p>
            </div>

            <div class="footer-content">

                <!-- Section Contact -->
                <div class="section-contact section-footer">
                    <h3 class="--contact-titre footer-title">Contact</h3>
                    <p class="--contact-mail">sachaler25@gmail.com</p>
                    <a class="--contact-insta" href="https://www.instagram.com/sachalry_/" target="_blank">Instagram</a>
                </div>

                <!-- Section Liens utiles -->
                <div class="section-liens section-footer">
                    <h3 class="--liens-titre footer-title">Liens utiles</h3>
                    <ul class="--liens-liste">
                        <li><a href="/" class="--liens-lien">Acceuil</a></li>
                        <li><a href="/cours/" class="--liens-lien">Cours</a></li>
                        <li><a href="/revision/" class="--liens-lien">Révision</a></li>
                        <li><a href="/static/feuille_de_semaine.pdf" target="_blank" class="--liens-lien">Feuille de semaine</a></li>
                    </ul>
                </div>

                <!-- Section Légales -->
                <div class="section-legales section-footer">
                    <h3 class="--legales-titre footer-title">Légales</h3>
                    <ul class="--legales-liste">
                        <li><a href="/static/mentions_legales.html" class="--legales-lien">Mentions légales</a></li>
                        <li><a href="/static/politique_de_confidentialite.html" class="--legales-lien">Politique de confidentialité</a></li>
                        <li><a href="/static/cgu.html" class="--legales-lien">CGU</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p class="footer-copy">© 2026 Terminale G. Tous droits réservés.</p>
            <p class="footer-author">Développé par Sacha Leroy</p>
        </div>


    </footer>
</body>
<script src="/static/script.js"></script>
<script src="/static/images_view.js"></script>
</html>