<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Révision - Terminale G</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/icon.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
        <nav class="header_links">
            <a href="/" class="header__link">Acceuil</a>
            <a href="/cours/" class="header__link">Cours</a>
        </nav>
        <h1 class="header_title">✦TermG✦</h1>
        <nav class="header_links">
            <a href="/revision/" class="header__link">Révision</a>
            <a href="" class="header__link">Feuille de semaine</a>
        </nav>
    </header>
    <main>
        <h1 class="home_title">Bienvenue en Terminale G</h1>
        <p class="home_desc">Cette section est dédiée aux étudiants de Terminale G. Vous y trouverez des ressources, des informations sur les cours, et des conseils pour réussir votre année scolaire.</p>
    </main>
    <section>
        <p>Ce système sera bientôt disponible.</p>
    </section>
    <footer></footer>
</body>
<script src="/static/script.js"></script>
</html>