<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Panel Admin</title>
    <link rel="stylesheet" href="/static/admin.css">
    <link rel="shortcut icon" href="/static/icon.ico" type="image/x-icon">
</head>
<body>

<header>
    <h1>Gestion du site Terminal G</h1>
    <a href="/logout" class="logout">Déconnexion</a>
</header>

<section class="matiere_gestion">

    <h2>Liste des matières</h2>
    <ul class="list-matieres">
        {% for matiere in matieres %}
        <li class="list-matiere">
            <button class="title-matiere"><div class="arrow"></div><h3>{{ matiere['nom'] }}</h3></button>
            <ul class="list-cours" style="max-height: 0px;">
                {% for cour in cours[matiere['id_matiere']] %}
                <li class="list-cour">{{ cour['title'] }} - {{ cour['date'] | format_date}}</li>
                {% endfor %}
                <li class="add-cours">
                    <a href="/admin/panel/cours/add/{{ matiere['id_matiere'] }}">➕ Ajouter un cours</a>
                </li>
                <li class="remove-cours">
                    <a href="/admin/panel/cours/delete/{{ matiere['id_matiere'] }}">➖ Supprimer un cours</a>
                </li>
            </ul>
        </li>
        {% endfor %}
        <li class="add-matiere">
            <a href="/admin/panel/matiere/add">➕ Ajouter une matière</a>
        </li>
        <li class="remove-matiere">
            <a href="/admin/panel/matiere/delete">➖ Supprimer une matière</a>
        </li>
    </ul>

</section>

<section class="feuille_de_semaine" id="feuille_de_semaine">
    <h2>Feuille de semaine</h2>
    <p>Vous pouvez mettre à jour la feuille de semaine en cliquant sur le bouton ci-dessous. Le fichier doit être au format PDF et nommé "feuille_de_semaine.pdf".</p>
    <form id="feuille-form" enctype="multipart/form-data" method="post" action="/admin/feuille_de_semaine/upload">
        <input type="file" id="feuille-input" name="feuille_de_semaine" accept="application/pdf" required>
        <button type="submit">Uploader</button>
    </form>
    <p>La feuille de semaine actuelle : <a href="/static/feuille_de_semaine.pdf" target="_blank">feuille_de_semaine.pdf</a></p>
</section>

<section class="upload-section">
    <h2>Ajouter une image</h2>
    <p>Vous pouvez ajouter une image en cliquant sur le bouton ci-dessous.</p>
    <form id="upload-form">
        <input type="file" id="image-input" accept="image/*" required>
        <button type="submit">Uploader</button>
    </form>
</section>

<section class="gallery-section">
    <h2>Images</h2>
    <p>Voici la liste des images qui se trouvent sur le site. Vous pouvez les supprimer en cliquant sur la poubelle. Vous pouvez les afficher en cliquant sur l'image.</p>
    <div class="gallery" id="gallery"></div>
</section>

<script src="/static/admin.js"></script>
</body>
</html>
