<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Panel Admin</title>
    <link rel="stylesheet" href="/static/admin.css">
</head>
<body>

<header>
    <h1>Gestion du site Terminal G</h1>
    <a href="/logout" class="logout">Déconnexion</a>
</header>

<section class="upload-section">
    <h2>Uploader une image</h2>
    <form id="upload-form">
        <input type="file" id="image-input" accept="image/*" required>
        <button type="submit">Uploader</button>
    </form>
</section>

<section class="gallery-section">
    <h2>Images</h2>
    <div class="gallery" id="gallery"></div>
</section>

<section class="matiere_gestion">

    <h2>Liste des matières</h2>
    <ul class="list-matieres">
        {% for matiere in matieres %}
        <li class="list-matiere">
            <button class="title-matiere"><div class="arrow"></div><h3>{{ matiere['nom'] }}</h3></button>
            <ul class="list-cours" style="max-height: 0px;">
                {% for cour in cours[matiere['id_matiere']] %}
                <li class="list-cour">{{ cour['title'] }} - {{ cour['date'] | format_date}}</li>
                {% endfor %}
                <li class="add-cours">
                    <a href="/admin/panel/cours/add/{{ matiere['id_matiere'] }}">➕ Ajouter un cours</a>
                </li>
                <li class="remove-cours">
                    <a href="/admin/panel/cours/delete/{{ matiere['id_matiere'] }}">➖ Supprimer un cours</a>
                </li>
            </ul>
        </li>
        {% endfor %}
        <li class="add-matiere">
            <a href="/admin/panel/matiere/add">➕ Ajouter une matière</a>
        </li>
        <li class="remove-matiere">
            <a href="/admin/panel/matiere/delete">➖ Supprimer une matière</a>
        </li>
    </ul>

</section>

<script src="/static/admin.js"></script>
</body>
</html>
