    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Limelight&display=swap');

    :root {
        --c:#4CAF50;
        --s:#f9fff9;
        --t:#3b863d;
    }

    body {
        font-family: 'DM Sans', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }
    @keyframes load {
        0% {
            opacity: 0;
            transform: translate(-50%, -52%);
        }
        100% {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }

    section {
        position : absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        animation: load 0.3s ease forwards;
    }

    h2 {
        margin-top: 0;
        font-weight: bold;
        font-family: 'DM Sans', sans-serif;
    }

    input,
    textarea {
        width: 96%;
        padding: 10px 2%;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        transition: all 0.2s ease;
    }

    input:focus,
    textarea:focus,
    select:focus {
        outline: none;              /* enlève le contour bleu */
        border: 1px solid var(--c);  /* couleur au clic */
        background: var(--s);
    }

    select {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        transition: all 0.2s ease;
    }

    select option {
        padding: 10px;
    }

    select option:hover {
        background-color: var(--s);
    }

    button {
        width: 100%;
        background-color: var(--c);
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
    }

    button:hover {
        background-color: var(--t);
    }

    a {
        display: block;
        text-align: center;
        margin-top: 15px;
        color: #fff;
        background-color: #007bff;
        border-radius: 4px;
        padding: 10px 0;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    a:hover {
        background-color: #0056b3;
    }