
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Limelight&display=swap');

    body {
        font-family: 'DM Sans', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }

    section {
        position : absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
    }

    h2 {
        margin-top: 0;
        font-weight: bold;
        font-family: 'DM Sans', sans-serif;
    }

    input {
        width: 96%;
        padding: 10px 2%;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    select {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    select option {
        padding: 10px;
    }

    select option:hover {
        background-color: #f1f1f1;
    }

    button {
        width: 100%;
        background-color: #28a745;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        animation: all 0.3s ease-in-out;
        &.delete {
            background-color: #dc3545;
        }
    }

    button:hover {
        background-color: #218838;
        &.delete {
            background-color: #c82333;
        }
    }

    a {
        display: block;
        text-align: center;
        margin-top: 15px;
        color: #fff;
        background-color: #007bff;
        border-radius: 4px;
        padding: 10px 0;
        text-decoration: none;
        animation: all 0.3s ease-in-out;
    }

    a:hover {
        background-color: #0056b3;
    }