@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Limelight&display=swap');

:root {
    --bg-color: #535353;
    --second-color : #0e0e0e;
    --inverse-color: #bebebe;
    --color : #303030;
    --color-black: #ffffff;
    --hover-diff: 2px;
    --basic-shadow : 0 2px 8px  hsl(from var(--inverse-color) h s l / 0.5);
    --inverse-shadow : 0 calc(2px + var(--hover-diff)) 8px hsl(from var(--inverse-color) h s l / 0.5);
    --br-normal: 8px;
    --br-large: 20px;
}

* {    
    color: var(--color-black);
}

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--inverse-color);
    text-align: center;
}

/* Scrollbar Styles */

::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-thumb {
   background: var(--second-color);
   border: 1px solid var(--color-black);
}

/* Header Styles */

@keyframes headerIn {
    from {
        width: calc(100vw - 64px);
        height: 40px;
        top: 10px;
        left: 10px;
    }
}

header {
    position: sticky;
    z-index: 100;
    width: calc(100% - 49px);
    height: calc(100vh - 44px);
    top: 0;
    left: 0;
    background-color: var(--color);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--color-black);
    transition: width 0.5s ease, height 0.5s ease, top 0.5s ease, left 0.5s ease;
    animation: headerIn 0.3s ease;

    & .header__link {
        opacity: 0;
        animation: linksIn 0.1s ease;
    }

    & .header_title {
        font-size: 5rem;
        animation: titleIn 0.1s ease;
    }
}

@keyframes linksIn {
    from {
        opacity: 1;
    }
}

@keyframes titleIn {
    from {
        font-size: x-large;
    }
}

header.loaded {
    width: calc(100% - 64px);
    height: 40px;
    top: 10px;
    left: 10px;

    & .header__link {
        opacity: 1;
    }

    & .header_title {
        font-size: x-large;
    }
}

.header_title {
    font-family: 'Limelight', cursive;
    color: var(--color-black);
    font-weight: 200;
    margin: 0;
    transition: font-size 0.3s ease 0.2s;
}

.header_links {
    display: flex;
}

.header__link {
    color: var(--color-black);
    background-color: var(--bg-color);
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    text-decoration: none;
    margin: 0 7px;
    font-weight: 500;
    padding: 10px 12px;
    border-radius: var(--br-normal);
    transition: border-radius 0.3s ease, transform 0.3s ease, opacity 0.3s ease 0.2s;
    border: 1px solid var(--color-black);

    &:hover {
        border-radius: var(--br-large);
        transform: scale(1.1);
    }
}

.header__link.hide {
    opacity: 0;
}

/* Main Content Styles */

main.hide {
    display: none;
    opacity: 0;
}
main {
    transition: opacity 0.3s ease;
}

h1 {
    font-size: 36px;
    font-family: "Limelight", cursive;
    font-weight: 100;
}

.home_title {
    font-size: 2.5rem;
    margin-top: 20vh;
}

.home_desc {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 800px;
    width: 80%;
    line-height: 1.5;
}

/* Links styles */

section.links {
    margin-top: 20vh;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a.link_ {
    width: 20%;
    background-color: var(--second-color);
    border-radius: var(--br-normal);
    text-decoration: none;
    color: var(--color-black);
    text-align: left;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    transition: all ease 0.3s;
    border: 1px solid var(--color-black);

    & h3, p {
        margin:  10px 0;
        padding: 0;
    }

    &:hover {
        transform: scale(1.05);
        border-radius: var(--br-large);
    }
}

.image-div {
    position: relative;
    width: 200px;
    height: 200px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.delete-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.image-card:hover .delete-btn {
    display: block;
}

/* Listes des cours (/cours) */

.cours_list {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 5vh;
    width: 90vw;
}

ul.cours-matieres_list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

li.cours-matiere {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.matiere-link {
    text-decoration: none;
    display: block;
    padding: 15px;
    margin: 10px 0;
    width: 90%;
    background-color: var(--second-color);
    border-radius: var(--br-normal);
    transition: all ease 0.3s;
    border: 1px solid var(--color-black);

    &:hover {
        border-radius: var(--br-large);
        transform: scale(1.02);
        background-color: var(--color);
    }
}

ul.matiere-cours {
    list-style-type: none;
    padding: 0;
    width: 90%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.cours-item {
    margin: 5px 0;
    width: auto;
}

a.cours-link {
    width: auto;
    text-decoration: none;
    padding: 15px;
    display: block;
    background-color: var(--color);
    border-radius: var(--br-normal);
    transition: all ease 0.3s;
    border: 1px solid var(--color-black);
    &:hover {
        border-radius: var(--br-large);
        transform: scale(1.05);
        background-color: var(--second-color);
    }
}


/* Style matiere page */

.matiere-section {
    margin-top: 100px;
    width: 80%;
    background-color: var(--second-color);
    border-radius: var(--br-normal);
    border: solid 1px var(--color-black);
    padding: 30px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.matiere-title,
.cours-title {
    background-color: var(--color);
    border-radius: var(--br-normal);
    border: solid 1px var(--color-black);
    margin: 0;
    width: 60%;
    min-width: fit-content;
    margin-bottom: 50px;
}

.cours-contenu {
    width: 80%;
    text-align: left;
    padding: 10px 20px;
    background-color: var(--bg-color);
    border-radius: var(--br-normal) var(--br-normal) 0 0;
    border: solid 1px var(--color-black);
    margin: 0;
}

.cours-auteur {
    width: 80%;
    text-align: left;
    padding: 10px 20px;
    background-color: var(--bg-color);
    border-radius: 0 0 var(--br-normal) var(--br-normal);
    border: solid 1px var(--color-black);
    border-top: none;
    margin: 0;
}

.matiere__list-cours {
    list-style: none;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    padding: 0;
}

.matiere__item-cours {
    background-color: var(--bg-color);
    border-radius: var(--br-normal);
    border: solid 1px var(--color-black);
    margin-bottom: 10px;
    width: fit-content;
    transition: 0.2s ease;

    &:hover {
        background-color: hsl(from var(--bg-color) h s l / 0.9);
        border-radius: var(--br-large);
        transform: scale(1.1);
    }
}

.matiere__item-cours a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--color-black);
}

.matiere__link-back, .cours__link-back {
    display: block;
    background-color: var(--color);
    border-radius: var(--br-normal);
    border: solid 1px var(--color-black);
    padding: 10px 20px;
    text-decoration: none;
    color: var(--color-black);
    transition: 0.2s ease;

    &:hover {
        background-color: hsl(from var(--color) h s l / 0.9);
        border-radius: var(--br-large);
        transform: scale(1.1);
    }
}

.cours-imgs {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: var(--color);
    border-radius: var(--br-normal);
    border: solid 1px var(--color-black);
}

.imgs-title {
    width: 100%;
    text-align: left;
    margin: 0;
}

.list-imgs {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.button-img {
    width: 300px;
    height: 200px;
    border: 1px solid var(--color-black);
    border-radius: var(--br-normal);
    overflow: hidden;
    position: relative;
    padding: 0;
    cursor: pointer;
}

.button-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

/* pseudo-élément pour l'ombre */
.button-img::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 0 rgba(0,0,0,0);
    transition: box-shadow 0.6s ease;
    pointer-events: none; /* pour que le hover passe au bouton */
}

.button-img:hover img {
    transform: scale(1.05);
}

.button-img:hover::after {
    box-shadow: inset 0 0 30px rgba(0,0,0,0.4);
}

/* Overlay plein écran */
.modal {
    display: none; /* caché par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    flex-direction: column;
}

/* Image du modal avec animation */
.modal-content {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    transform: scale(0.5);   /* commence petite */
    opacity: 0;              /* transparente */
    cursor: zoom-in;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Quand le modal est actif */
.modal.show {
    opacity: 1;
}

.modal.show .modal-content {
    transform: scale(1);     /* zoom complet */
    opacity: 1;              /* opaque */
}

/* Bouton de fermeture */
.modal-close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* État zoomé */
.modal-content.zoomed {
    transform: scale(4)!important;     /* zoom x2 */
    cursor: zoom-out;        /* indique qu'on peut dé-zoomer */
}

.modal-link {
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    background-color: var(--bg-color);
    padding: 5px 5px;
    border-radius: var(--br-normal);
    border: 1px solid var(--color-black);
    transition: border-radius 0.3s ease, transform 0.3s ease;

    &:hover {
        border-radius: var(--br-large);
        transform: scale(1.05);
    }
}

/* Responsive Styles */

@media (max-width: 1100px) {
    ul.cours-matieres_list {
        grid-template-columns: repeat(1, 1fr);
    }

    ul.matiere-cours {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    a.link_ h3 {
        font-size: 16px;
    }

    a.link_ p {
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    .home_title {
        font-size: 1.9rem;
        margin-top: 20vh;
    }

    .home_desc {
        font-size: 0.9rem;
        margin-top: 5px;
        margin-bottom: 30px;
        max-width: 800px;
        width: 80%;
        line-height: 1.5;
    }

    section.links {
        margin-top: 20vw;
        flex-direction: column;
        align-items: center;
    }

    a.link_ {
        width: 80%;
        margin-bottom: 20px;
    }

    .matiere-title , .cours-title{
        font-size: 1.5rem;
    }

    .matiere__item-cours a {
        padding: 10px;
    }
}