@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Limelight&display=swap');

:root {
    --color: #f0f0f0;
    --second-color : #dfdfdf;
    --inverse-color: #080808;
    --hover-diff: 2px;
    --basic-shadow : 0 2px 8px  hsl(from var(--inverse-color) h s l / 0.5);
    --inverse-shadow : 0 calc(2px + var(--hover-diff)) 8px hsl(from var(--inverse-color) h s l / 0.5);
}

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--inverse-color);
    text-align: center;
}

/* Header Styles */

header {
    background-color: var(--color);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--basic-shadow);
}

.header_title {
    font-family: 'Limelight', cursive;
    color: var(--inverse-color);
    font-weight: 200;
    margin: 0;
}

.header_links {
    display: flex;
}

.header__link {
    color: var(--inverse-color);
    background-color: var(--color);
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    margin: 0 7px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 30px;
    transition: 0.3s;
    box-shadow: var(--basic-shadow);

    &:hover {
        box-shadow: var(--inverse-shadow);
        transform: translateY(calc(0px - var(--hover-diff)));
    }
}

/* Main Content Styles */

h1 {
    font-size: 36px;
    font-family: "Limelight", cursive;
    font-weight: 100;
}

/* Links styles */

section.links {
    margin-top: 20vh;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 28vw);
    grid-gap: 5vh 2vw;
}

a.link_ {
    background-color: var(--second-color);
    box-shadow: var(--basic-shadow);
    border-radius: 10px;
    text-decoration: none;
    color: var(--inverse-color);
    text-align: left;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    transition: transform ease 0.3s, box-shadow ease 0.3s;

    & h3, p {
        margin:  10px 0;
        padding: 0;
    }

    &:hover {
        transform: translateY(calc(0px - var(--hover-diff)));
        box-shadow: var(--inverse-shadow);
    }
}