<!DOCTYPE html>
<html lang="fr" id="home">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminale G</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="header">
        <nav class="header_links">
            <a href="/" class="header__link">Acceuil</a>
            <a href="/cours/" class="header__link">Cours</a>
            <a href="/revision/" class="header__link">Révision</a>
        </nav>
        <h1 class="header_title">TermG</h1>
        <nav class="header_links">
            <a href="" class="header__link">Feuille de semaine</a>
            <a href="" class="header__link">vide</a>
            <a href="" class="header__link">vide</a>
        </nav>
    </header>
    <main>
        <h1>Bienvenue en Terminale G</h1>
        <p>Cette section est dédiée aux étudiants de Terminale G. Vous y trouverez des ressources, des informations sur les cours, et des conseils pour réussir votre année scolaire.</p>
        <section class="links">
            <a href="cours/" class="link_">
                <h3 class="link__title">📚 Cours</h3>
                <p class="link__desc">Accédes directement aux cours !</p>
            </a>
            <a href="revision/" class="link_">
                <h3 class="link__title">💡 Révision</h3>
                <p class="link__desc">Partages tes fiches de révisions !</p>
            </a>
            <a href="/" class="link_">
                <h3 class="link__title">⚫ Lorem.</h3>
                <p class="link__desc">Lorem ipsum dolor sit amet.</p>
            </a>
            <a href="/" class="link_">
                <h3 class="link__title">⚫ Lorem.</h3>
                <p class="link__desc">Lorem ipsum dolor sit amet.</p>
            </a>
        </section>
    </main>
    <footer></footer>
</body>
<script src="/static/script.js"></script>
</html>