<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours - Terminale G</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="header load">
        <nav class="header_links">
            <a href="../" class="header__link">Acceuil</a>
            <a href="" class="header__link">Cours</a>
            <a href="../revision/" class="header__link">Révision</a>
        </nav>
        <h1 class="header_title">TermG</h1>
        <nav class="header_links">
            <a href="" class="header__link">Feuille de semaine</a>
            <a href="" class="header__link">vide</a>
            <a href="" class="header__link">vide</a>
        </nav>
    </header>
    <main>
        <h1 class="cours_title">
            Cours de Terminale G
        </h1>
        <p class="cours_subtitle">
            Ici, vous trouverez tous les cours disponibles pour la Terminale G, organisés par matière et par thème.
        </p>

        <section class="cours_list">
            <ul class="cours-matieres_list">
                {% for matiere in matieres %}
                <li class="cours-matiere" id="{{ matiere['id_matiere'] }}">
                    <a class="matiere-link" href="{{ url_for('matiere', id_matiere=matiere['id_matiere']) }}">
                        <h2 class="matiere-name">{{ matiere['nom'] }}</h2>
                    </a>
                    <ul class="matiere-cours">
                    {% for c in cours[matiere['id_matiere']] %}
                        <li class="cours-item">
                            <a class="cours-link" href="{{ url_for('cour', id_cours=c['id_cours']) }}">
                                <h3 class="cours-content">Cours du {{ c['date']|format_date }}</h3>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
<script src="/static/script.js"></script>
</html>