<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours - Terminale G</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/icon.ico" type="image/x-icon">
</head>
<body>
    <div class="burger_menu" id="burger_menu">
        <button class="burger_menu_close" onclick="document.getElementById('burger_menu').classList.toggle('show')">
            <span class="cross_line"></span>
            <span class="cross_line"></span>
        </button>
        <h2 class="burger_menu_title">✦TermG✦</h2>
        <nav class="burger_menu_links">
            <a href="/" class="burger_menu__link">Acceuil</a>
            <a href="/cours/" class="burger_menu__link">Cours</a>
            <a href="/revision/" class="burger_menu__link">Révision</a>
            <a href="/static/feuille_de_semaine.pdf" target="_blank" class="burger_menu__link">Feuille de semaine</a>
        </nav>
    </div>
    <header class="header">
        <nav class="header_links">
            <a href="/" class="header__link">Acceuil</a>
            <a href="/cours/" class="header__link">Cours</a>
        </nav>
        <h1 class="header_title">✦TermG✦</h1>
        <nav class="header_links">
            <a href="/revision/" class="header__link">Révision</a>
            <a href="/static/feuille_de_semaine.pdf" target="_blank" class="header__link">Feuille de semaine</a>
        </nav>
        <button class="burger" onclick="document.getElementById('burger_menu').classList.toggle('show')">
            <span class="burger_line"></span>
            <span class="burger_line"></span>
            <span class="burger_line"></span>
        </button>
    </header>
    <main>
        <h1  class="home_title">
            Cours de Terminale G
        </h1>
        <p class="home_desc">
            Ici, vous trouverez tous les cours disponibles pour la Terminale G, organisés par matière et par thème.
        </p>

        <section class="cours_list">
            <ul class="cours-matieres_list">
                {% for matiere in matieres %}
                <li class="cours-matiere" id="{{ matiere['id_matiere'] }}">
                    <a class="matiere-link" href="{{ url_for('matiere', id_matiere=matiere['id_matiere']) }}">
                        <h2 class="matiere-name">{{ matiere['nom'] }}</h2>
                    </a>
                    <ul class="matiere-cours">
                    {% for c in cours[matiere['id_matiere']][:5] %}
                        <li class="cours-item">
                            <a class="cours-link" href="{{ url_for('cour', id_cours=c['id_cours']) }}">
                                <h3 class="cours-content">Cours du {{ c['date']|format_date }}</h3>
                            </a>
                        </li>
                    {% endfor %}
                    <li class="cours-item">
                        <a href="{{ url_for('matiere', id_matiere=matiere['id_matiere']) }}" class="cours-link">
                            <h3 class="cours-content">Voir plus 📚</h3>
                        </a>
                    </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
    <footer class="footer">

        <div class="footer-container">
            <!-- Footer Top -->
            <div class="footer-top">
                <h2 class="footer-title">✦TermG✦</h2>
                <p class="footer-desc">Un projet fait avec passion pour rendre l’information accessible à tous.</p>
            </div>

            <div class="footer-content">

                <!-- Section Contact -->
                <div class="section-contact section-footer">
                    <h3 class="--contact-titre footer-title">Contact</h3>
                    <p class="--contact-mail">sachaler25@gmail.com</p>
                    <a class="--contact-insta" href="https://www.instagram.com/sachalry_/" target="_blank">Instagram</a>
                </div>

                <!-- Section Liens utiles -->
                <div class="section-liens section-footer">
                    <h3 class="--liens-titre footer-title">Liens utiles</h3>
                    <ul class="--liens-liste">
                        <li><a href="/" class="--liens-lien">Acceuil</a></li>
                        <li><a href="/cours/" class="--liens-lien">Cours</a></li>
                        <li><a href="/revision/" class="--liens-lien">Révision</a></li>
                        <li><a href="/static/feuille_de_semaine.pdf" target="_blank" class="--liens-lien">Feuille de semaine</a></li>
                    </ul>
                </div>

                <!-- Section Légales -->
                <div class="section-legales section-footer">
                    <h3 class="--legales-titre footer-title">Légales</h3>
                    <ul class="--legales-liste">
                        <li><a href="/static/mentions_legales.html" class="--legales-lien">Mentions légales</a></li>
                        <li><a href="/static/politique_de_confidentialite.html" class="--legales-lien">Politique de confidentialité</a></li>
                        <li><a href="/static/cgu.html" class="--legales-lien">CGU</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p class="footer-copy">© 2026 Terminale G. Tous droits réservés.</p>
            <p class="footer-author">Développé par Sacha Leroy</p>
        </div>


    </footer>
</body>
<script src="/static/script.js"></script>
</html>