<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matière : {{ name }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="header">
        <nav class="header_links">
            <a href="/" class="header__link">Acceuil</a>
            <a href="/cours/" class="header__link">Cours</a>
            <a href="/revision/" class="header__link">Révision</a>
        </nav>
        <h1 class="header_title">TermG</h1>
        <nav class="header_links">
            <a href="" class="header__link">Feuille de semaine</a>
            <a href="" class="header__link">vide</a>
            <a href="" class="header__link">vide</a>
        </nav>
    </header>
    <main>
        <section class="matiere-section">
            <h1 class="matiere-title">Matière : {{ name }}</h1>
            {% if cours|length == 0 %}
            <p class="matiere__no-cours">Aucun cours disponible pour cette matière.</p>
            {% endif %}
            <ul class="matiere__list-cours">
                {% for c in cours %}
                <li class="matiere__item-cours">
                    <a href="{{ url_for('cour', id_cours=c['id_cours']) }}">Cours du {{ c['date'] | format_date }} : {{ c['title'] }}</a>
                </li>
                {% endfor %}
            </ul>
            <a class="matiere__link-back" href="{{ url_for('cours') }}">🔙 Retour aux matières</a>
        </section>
    </main>
</body>
<script src="/static/script.js"></script>
</html>
