<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours - Terminale G</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="load_screen">
        <div class="loader">
        </div>
    </div>
    <header class="header">
        <nav class="header_links">
            <a href="../" class="header__link">Acceuil</a>
            <a href="" class="header__link">Cours</a>
            <a href="../revision/" class="header__link">Révision</a>
        </nav>
        <h1 class="header_title">TermG</h1>
        <nav class="header_links">
            <a href="" class="header__link">Feuille de semaine</a>
            <a href="" class="header__link">vide</a>
            <a href="" class="header__link">vide</a>
        </nav>
    </header>
    <main>
        <h1 class="cours_title">
            Cours de Terminale G - Teste
        </h1>
        <p class="cours_subtitle">
            Ici, je teste la fonction des images :
        </p>

        <section class="cours_content">
            <h2>Image test :</h2>
        </section>
    </main>
</body>
<script src="/static/script.js"></script>
</html>